[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest = "*"
pytest-xdist = "*"
flask = "*"
flask-cors = "*"
common = {editable = true,git = "ssh://git@github.com/gabedottl/recommender_backend_common.git"}
gunicorn = "*"
google-cloud-pubsub = "*"
